body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button.sign-up {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-size: 18px;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    padding: 0 15%;
}

.hero__text__main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero__text__sub, .links a, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.header__logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


.hero__body {
    padding: 10% 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.header {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 2em;
    text-align: center;
}


.links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 1em;
}

.links a {
    text-decoration: none;
}

.hero__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

    align-items: start;
}

.image-placeholder {
    height: 200px;
    width: 300px;
    background-color: gray;
    flex: 1;
}


.body__title {
    margin: 1em;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content-container {
    margin-bottom: 8em;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    width: 200px;
}

.content__image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 4px solid #3882F6;
}


.content__text {
    font-size: 18px;
    color: gray;
    text-align: justify;
    text-align-last: center;
}

.section--alt {
    background-color: #E5E7EB;
    height: 400px;
    padding: 0 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__text__main {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section__text__sub {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}


.banner {
    margin: 5em auto;

    background-color: #3882F6;
    width: 70%;
    height: 8em;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.banner__main {
    color: #F9FAF8;
    font-size: 24px;
}

.banner__sub {
    color: #E5E7EB;
    font-size: 18px;
}

button.banner__sign-up {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    font-size: 18px;
}
